* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  justify-content: center;
}

.container {
  max-width: 900px;
  width: 90%;
  padding: 2rem;
  text-align: center;
}

h1, h2 {
  margin-bottom: 1rem;
  color: white;
}

h1 {
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #2a2a2a;
  color: #eee;
  transition: border 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: red;
  box-shadow: 0 0 8px #ff4c4c55;
  outline: none;
}

footer {
  width: 100%;
  position: flex;
  bottom: 20px;
  left: 0;
  text-align: center;
}

footer .btn {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: darkred;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer .btn:hover {
  background-color: red;
  box-shadow: 0 4px 12px rgba(255, 76, 76, 0.5);
}


button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem;
  color: #fff;
  background-color: darkred;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: red;
  box-shadow: 0 4px 12px rgba(255, 76, 76, 0.5);
}

button:disabled {
  background-color: #aa2f2f;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #444;
  text-align: left;
}

th {
  background-color: #2a2a2a;
}

tr:hover {
  background-color: #333;
}


@media (max-width: 600px) {
  form {
    width: 100%;
  }
  input {
    max-width: 100%;
  }
}
